<mat-card>
  <mat-card-header>
    <mat-card-title>{{ card.name }}</mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="card.pic" alt="imagem" loading="lazy" />
  <mat-card-content>
    <p>
      {{ card.description }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button (click)="onLike()" [ngStyle]="{ color: buttonColor }">
      <mat-icon>thumb_up_alt</mat-icon>
      LIKES {{ card.likes }}
    </button>
    <button mat-icon-button (click)="onShare()"><mat-icon>share</mat-icon>SHARE</button>
  </mat-card-actions>
</mat-card>